*.exe
*.zip
*.tar
*.tar.gz
*.rar
.clinerules/byterover-rules.md
.kilocode/rules/byterover-rules.md
.roo/rules/byterover-rules.md
.windsurf/rules/byterover-rules.md
.cursor/rules/byterover-rules.mdc
.kiro/steering/byterover-rules.md
.qoder/rules/byterover-rules.md
.augment/rules/byterover-rules.md

# Ignore Python cache and compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore SQLite database
db.sqlite3

# Ignore virtual environments
venv/
env/
.myenv/
